@import '../../../util/scss/respond';

.NameCard {
	position: absolute;
	right: 3rem;
	bottom: 3rem;

	@include respond('phone') {
		right: 1.5rem;
	}
	@media only screen and (max-width: 400px) {
		font-size: 1.8rem;
	}

	.Container {
		font-family: 'Anton', sans-serif;
		line-height: 1;
		letter-spacing: -0.07em;
		color: #fff;

		span {
			font-family: 'Anton', Helvetica, sans-serif;
			text-transform: uppercase;
			opacity: 0;
			color: #fff;
			filter: alpha(opacity=0);
		}
	}

	.Name {
		font-family: 'Anton', sans-serif;
		line-height: 1;
		margin-top: -11px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 3s;
		-webkit-transform: translateX(-1000%);
		-ms-transform: translateX(-1000%);
		transform: translateX(-1000%);
		letter-spacing: -1px;
		text-transform: uppercase;
		color: #fc0;
		font-size: 5.5rem;
		@include respond('desktop') {
			font-size: 4.5rem;
			margin-top: -7px;
		}

		@include respond('tab-land') {
			font-size: 4rem;
		}

		@include respond('tab-port') {
			font-size: 3rem;
			margin-top: -5px;
		}

		@include respond('phone') {
			font-size: 2.5rem;
		}
	}

	.Animate .Name {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.Line3 {
		-webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 2.6s;
		transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 2.6s;
		letter-spacing: -0.07em;
	}

	.Line2 {
		-webkit-transition: all 0.3s ease-in-out 2.3s;
		transition: all 0.3s ease-in-out 2.3s;
		letter-spacing: -0.07em;
	}

	.Line1 {
		-webkit-transition: all 0.3s ease-in-out 1.7s;
		transition: all 0.3s ease-in-out 1.7s;
		letter-spacing: -0.07em;
	}

	.LineAdditional {
		-webkit-transition: all 0.3s ease-in-out 2s;
		transition: all 0.3s ease-in-out 2s;
		letter-spacing: -0.07em;
	}

	.Animate .Line1 {
		-webkit-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 1;
		filter: alpha(opacity=100);
		font-size: 2.5rem;

		@include respond('desktop') {
			font-size: 2rem;
		}

		@include respond('tab-land') {
			font-size: 2rem;
		}

		@include respond('tab-port') {
			font-size: 1.5rem;
		}

		@include respond('phone') {
			font-size: 1.2rem;
		}
	}

	.Animate .LineAdditional {
		-webkit-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 1;
		filter: alpha(opacity=100);
		font-size: 3rem;

		@include respond('desktop') {
			font-size: 2.5rem;
		}

		@include respond('tab-land') {
			font-size: 2.5rem;
		}

		@include respond('tab-port') {
			font-size: 1.8rem;
		}

		@include respond('phone') {
			font-size: 1.5rem;
		}
	}

	.Animate .Line2 {
		-webkit-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 1;
		filter: alpha(opacity=100);
		font-size: 4rem;

		@include respond('desktop') {
			font-size: 3rem;
		}

		@include respond('tab-land') {
			font-size: 3rem;
		}

		@include respond('tab-port') {
			font-size: 2.2rem;
		}

		@include respond('phone') {
			font-size: 1.8rem;
		}
	}

	.Animate .Line3 {
		-webkit-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 1;
		filter: alpha(opacity=100);
		font-size: 5rem;

		@include respond('desktop') {
			font-size: 4rem;
		}

		@include respond('tab-land') {
			font-size: 3.5rem;
		}

		@include respond('tab-port') {
			font-size: 2.6rem;
		}

		@include respond('phone') {
			font-size: 2.2rem;
		}
	}
}
