$loading-color: #fff;
$loading-color-container: #fdb515;

.loading-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	cursor: none;
	background-color: $loading-color-container;
}

svg {
	position: absolute;
	width: 240px;
	height: 120px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.credit {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

.credit a {
	color: $loading-color;
	font: 800 75% 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

#plug,
#socket {
	fill: $loading-color;
}

#loop-normal {
	fill: none;
	stroke: $loading-color;
	stroke-width: 12;
}
#loop-offset {
	display: none;
}
