@import '../../../util/scss/respond';

.TextContainer {
	width: 100%;
	padding: 1rem;
	color: white;
	text-align: justify;

	@include respond('tab-land') {
		font-size: 0.9rem;
	}

	@include respond('tab-port') {
		font-size: 0.8rem;
	}
}
