@import './util/scss/colors';
@import './util/scss/transition';
@import './util/scss/respond';

.App{
  cursor: none;
  width: 100%;
  min-height: 100vh;
}

.Cursor{
  pointer-events: none;
  cursor: none;
  position: fixed;
  padding: 0.3rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  @include translateXY(-50%, -50%);
  @include transition(transform 0.3s ease);
  z-index: 2000;

  @media only screen and (hover: none) and (pointer: coarse){
    display: none;
  }
}