@import './util/scss/colors';
@import './util/scss/transition';
@import './util/scss/respond';
@import './util/scss/keyframes';

@font-face {
	font-family: 'Cosi Azure';
	src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black-Stencil.otf) format('opentype');
}

@font-face {
	font-family: 'Cosi Azure';
	font-weight: 900;
	src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black.otf) format('opentype');
}

@font-face {
	font-family: 'Cosi Azure';
	font-weight: 900;
	src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Bold.otf) format('opentype');
}

// import Boostrap and custom it
// change the theme
$theme-colors: (
	'primary': $color-primary,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap

body {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
	cursor: none;
	width: 100%;
	min-height: 100vh;
	background: $color-black;
}

a {
	text-decoration: none;
	cursor: none;

	&:hover {
		text-decoration: none;
	}
}

button {
	cursor: none !important;
}

#appContent {
	overflow: hidden;
	&:before,
	&:after {
		content: '';
		height: 50vh;
		width: 100%;
		position: absolute;
		left: 0;
		background: #1c2020;
		z-index: 900;
	}

	&:before {
		top: 0;
		transform: translateY(-100%);
	}
	&:after {
		bottom: 0;
		transform: translateY(100%);
	}
}

@keyframes delay {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
		-webkit-transform: scaleY(0.05);
	}
	20% {
		transform: scaleY(1);
		-webkit-transform: scaleY(1);
	}
}
