@import './util/scss/colors';
@import './util/scss/transition';
@import './util/scss/respond';

@font-face {
  font-family: 'Cosi Azure';
  src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black-Stencil.otf) format('opentype');
}

@font-face {
    font-family: 'Cosi Azure';
    font-weight: 900;
    src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Cosi Azure';
    font-weight: 900;
    src: local('Cosi Azure'), url(./resources/fonts/Cosi-Azure/Cosi-Azure-Bold.otf) format('opentype');
}

// import Boostrap and custom it
// change the theme
$theme-colors: (
  "primary": $color-primary,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap

body{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: none;
  width: 100%;
  min-height: 100vh;
}