@import '../../../util/scss/transition';
@import '../../../util/scss/respond';

$color-background: #141414;
$color-wrapper: #000;
$color-small-circle: $color-background;

.Skill {
	width: 100%;
	height: 100%;
	background: $color-background;
	display: flex;
	justify-content: center;
	align-items: center;

	.SlideWrapper {
		overflow: hidden;
		height: 90%;
		width: 90%;
		z-index: 3;
		background-color: $color-wrapper;
		position: relative;

		.SmallCircles {
			position: absolute;
			z-index: -2;
			width: 100%;
			height: 100%;
			animation: infinite-rotation 150s infinite;
		}

		.SmallCircle {
			position: inherit;
			display: block;
			width: 250px;
			height: 250px;
			background: $color-small-circle;
			margin-top: -125px;
			margin-left: -125px;
			border-radius: 125px;
			-webkit-animation: smallcircle 0.8s ease-in-out alternate;
			-moz-animation: smallcircle 0.8s ease-in-out alternate;
			animation: smallcircle 0.8s ease-in-out alternate;

			@include respond('desktop') {
				width: 175px;
				height: 175px;
			}

			@include respond('phone') {
				width: 125px;
				height: 125px;
			}

			&:nth-child(1) {
				top: 12%;
				left: 24%;
			}
			&:nth-child(2) {
				display: block;
				top: 18%;
				left: 44%;
			}
			&:nth-child(3) {
				display: block;
				top: 78%;
				left: 5%;
			}
			&:nth-child(4) {
				display: block;
				top: 78%;
				left: 56%;
			}
			&:nth-child(5) {
				display: block;
				top: 38%;
				left: 86%;
			}
			&:nth-child(6) {
				display: block;
				top: 86%;
				left: 96%;
			}
		}
	}

	.ContentWrapper {
		width: 100%;
		height: 100%;
		position: absolute;

		.CoverWrapper {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem;

			div {
				text-align: center;
			}
		}

		.SkillMapWrapper {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: $color-wrapper;
			padding-bottom: 2rem;
			cursor: none;

			div {
				text-align: center;
			}

			.SkillMapContainer {
				width: 100%;
				max-width: 1200px;
				max-height: 1000px;
				flex-grow: 1;
				margin-bottom: 2rem;
				position: relative;
				opacity: 0;
				padding: 3px;

				&::before {
					position: absolute;
					content: '';
					display: inline-block;
					left: 0;
					bottom: 0;
					width: 4rem;
					height: 2rem;
					background-color: $color-wrapper;
					z-index: 10;
				}
			}
		}
	}
}

@include keyframes(smallcircle) {
	0% {
		@include transform(scale(0));
	}

	100% {
		@include transform(scale(1));
	}
}

@include keyframes(infinite-rotation) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}
