@import '../../scss/colors';
@import '../../scss/respond';

.TwoSidesButton {
	background: transparent;
	outline: none;
	position: relative;
	border: 1px solid white;
	padding: 1rem 1.5rem;
	overflow: hidden;
	color: white;

	@include respond('tab-port') {
		font-size: 0.8rem;
	}

	div {
		text-transform: uppercase;
		letter-spacing: 3px;
		transition: all 0.3s ease-in-out;
		cursor: none;
	}

	&::before {
		content: attr(data-hover);
		position: absolute;
		top: 1.1em;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 3px;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: all 0.3s ease-in-out;
		overflow: hidden;
	}

	&:hover {
		div {
			opacity: 0;
			transform: translate(50%, 0);
		}

		&::before {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}
