.TwoSidesButton {
	background: transparent;
	outline: none;
	position: relative;
	border: 2px solid white;
	padding: 15px 50px;
	overflow: hidden;
	color: white;

	div {
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 800;
		font-size: 0.8em;
		transition: all 0.3s ease-in-out;
		cursor: none;
	}

	&::before {
		content: attr(data-hover);
		position: absolute;
		top: 1.1em;
		left: 0;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 800;
		font-size: 0.8em;
		opacity: 0;
		transform: translate(-100%, 0);
		transition: all 0.3s ease-in-out;
		overflow: hidden;
	}

	&:hover {
		div {
			opacity: 0;
			transform: translate(50%, 0);
		}

		&::before {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}
